.alert.alert-warning#dupe-users
  - if dupe_users&.any?
    %p
      Some users are members of multiple enabled teams; this will damage scoring.
      I recommend enabling a set of teams containing no shared users.
      %br/
      Affected users:
      = dupe_users.map do |u|
        - "@#{u.login}"
      - end.to_sentence
