-# locals: hottest, fastest, slowest
.row
  .col-xs-12.col-lg-4
    .card
      .card-block.pull-request--no-time
        %h5.card-title
          %span.octicon.octicon-flame
          Hottest pull requests
        = render 'pull_requests/list', collection: hottest
      .card-footer.text-muted.small
        Go help the discussion, or read through to learn new tricks.
  .col-xs-12.col-lg-4
    .card
      .card-block.pull-request--no-comments
        %h5.card-title
          %span.octicon.octicon-watch
          Fastest pull requests
        = render 'pull_requests/list', collection: fastest
      .card-footer.text-muted.small
        Hold your horses! If it's merged too quickly, it's not reviewed or tested.
  .col-xs-12.col-lg-4
    .card
      .card-block.pull-request--no-comments
        %h5.card-title
          %span.octicon.octicon-watch
          Slowest pull requests
        = render 'pull_requests/list', collection: slowest
      .card-footer.text-muted.small
        Too big? Too complicated? Or maybe they need your help?
