.rewards {
}
.reward {
  border-bottom:    1rem solid transparent;
}
.reward-header {
  border-right:     1rem solid transparent;
  text-align:       center;
}
.reward-avatar {
  width:          64px;
  // height:         64px;
}
.reward-badge {
  width:          73px;
  // height:         64px;
}
.reward-footer {
}
.reward-title {
}
.reward-details {
  @extend .text-muted;
  @extend .small;
}

