---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/mezis/fuzzily/pulls?per_page=10&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4913'
      X-Ratelimit-Reset:
      - '1508316609'
      Etag:
      - '"a991d365eb48a620ec4363687e62370e"'
      X-Oauth-Scopes:
      - admin:org_hook, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 59442aa2f856b9b7eabd
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/6383465/pulls?per_page=10&state=all&page=2>;
        rel="next", <https://api.github.com/repositories/6383465/pulls?per_page=10&state=all&page=4>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/mezis/fuzzily/pulls/62","id":122439419,"html_url":"https://github.com/mezis/fuzzily/pull/62","diff_url":"https://github.com/mezis/fuzzily/pull/62.diff","patch_url":"https://github.com/mezis/fuzzily/pull/62.patch","issue_url":"https://api.github.com/repos/mezis/fuzzily/issues/62","number":62,"state":"closed","locked":false,"title":"Search
        globally","user":{"login":"martijncasteel","id":5732642,"avatar_url":"https://avatars0.githubusercontent.com/u/5732642?v=4","gravatar_id":"","url":"https://api.github.com/users/martijncasteel","html_url":"https://github.com/martijncasteel","followers_url":"https://api.github.com/users/martijncasteel/followers","following_url":"https://api.github.com/users/martijncasteel/following{/other_user}","gists_url":"https://api.github.com/users/martijncasteel/gists{/gist_id}","starred_url":"https://api.github.com/users/martijncasteel/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/martijncasteel/subscriptions","organizations_url":"https://api.github.com/users/martijncasteel/orgs","repos_url":"https://api.github.com/users/martijncasteel/repos","events_url":"https://api.github.com/users/martijncasteel/events{/privacy}","received_events_url":"https://api.github.com/users/martijncasteel/received_events","type":"User","site_admin":false},"body":"First
        version of global searching thru all indexed files \r\n\r\n`Trigram.fuzzy_search(''New'')`
        finds `New York` as well ass `Tom Newark`. Removed support for < rails 5","created_at":"2017-05-25T13:25:01Z","updated_at":"2017-05-25T13:26:09Z","closed_at":"2017-05-25T13:25:53Z","merged_at":null,"merge_commit_sha":"679c4930781f1315a1b0a895c8e69130cc9e1863","assignee":null,"assignees":[],"requested_reviewers":[],"milestone":null,"commits_url":"https://api.github.com/repos/mezis/fuzzily/pulls/62/commits","review_comments_url":"https://api.github.com/repos/mezis/fuzzily/pulls/62/comments","review_comment_url":"https://api.github.com/repos/mezis/fuzzily/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mezis/fuzzily/issues/62/comments","statuses_url":"https://api.github.com/repos/mezis/fuzzily/statuses/0d59d3ca909f212bdbebfaa0519159a1b6a89e5d","head":{"label":"svsticky:feature/global-search","ref":"feature/global-search","sha":"0d59d3ca909f212bdbebfaa0519159a1b6a89e5d","user":{"login":"svsticky","id":5730859,"avatar_url":"https://avatars0.githubusercontent.com/u/5730859?v=4","gravatar_id":"","url":"https://api.github.com/users/svsticky","html_url":"https://github.com/svsticky","followers_url":"https://api.github.com/users/svsticky/followers","following_url":"https://api.github.com/users/svsticky/following{/other_user}","gists_url":"https://api.github.com/users/svsticky/gists{/gist_id}","starred_url":"https://api.github.com/users/svsticky/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/svsticky/subscriptions","organizations_url":"https://api.github.com/users/svsticky/orgs","repos_url":"https://api.github.com/users/svsticky/repos","events_url":"https://api.github.com/users/svsticky/events{/privacy}","received_events_url":"https://api.github.com/users/svsticky/received_events","type":"Organization","site_admin":false},"repo":{"id":91368568,"name":"fuzzily","full_name":"svsticky/fuzzily","owner":{"login":"svsticky","id":5730859,"avatar_url":"https://avatars0.githubusercontent.com/u/5730859?v=4","gravatar_id":"","url":"https://api.github.com/users/svsticky","html_url":"https://github.com/svsticky","followers_url":"https://api.github.com/users/svsticky/followers","following_url":"https://api.github.com/users/svsticky/following{/other_user}","gists_url":"https://api.github.com/users/svsticky/gists{/gist_id}","starred_url":"https://api.github.com/users/svsticky/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/svsticky/subscriptions","organizations_url":"https://api.github.com/users/svsticky/orgs","repos_url":"https://api.github.com/users/svsticky/repos","events_url":"https://api.github.com/users/svsticky/events{/privacy}","received_events_url":"https://api.github.com/users/svsticky/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/svsticky/fuzzily","description":"Fast
        fuzzy string searching in Ruby, tailored for integration with Koala","fork":true,"url":"https://api.github.com/repos/svsticky/fuzzily","forks_url":"https://api.github.com/repos/svsticky/fuzzily/forks","keys_url":"https://api.github.com/repos/svsticky/fuzzily/keys{/key_id}","collaborators_url":"https://api.github.com/repos/svsticky/fuzzily/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/svsticky/fuzzily/teams","hooks_url":"https://api.github.com/repos/svsticky/fuzzily/hooks","issue_events_url":"https://api.github.com/repos/svsticky/fuzzily/issues/events{/number}","events_url":"https://api.github.com/repos/svsticky/fuzzily/events","assignees_url":"https://api.github.com/repos/svsticky/fuzzily/assignees{/user}","branches_url":"https://api.github.com/repos/svsticky/fuzzily/branches{/branch}","tags_url":"https://api.github.com/repos/svsticky/fuzzily/tags","blobs_url":"https://api.github.com/repos/svsticky/fuzzily/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/svsticky/fuzzily/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/svsticky/fuzzily/git/refs{/sha}","trees_url":"https://api.github.com/repos/svsticky/fuzzily/git/trees{/sha}","statuses_url":"https://api.github.com/repos/svsticky/fuzzily/statuses/{sha}","languages_url":"https://api.github.com/repos/svsticky/fuzzily/languages","stargazers_url":"https://api.github.com/repos/svsticky/fuzzily/stargazers","contributors_url":"https://api.github.com/repos/svsticky/fuzzily/contributors","subscribers_url":"https://api.github.com/repos/svsticky/fuzzily/subscribers","subscription_url":"https://api.github.com/repos/svsticky/fuzzily/subscription","commits_url":"https://api.github.com/repos/svsticky/fuzzily/commits{/sha}","git_commits_url":"https://api.github.com/repos/svsticky/fuzzily/git/commits{/sha}","comments_url":"https://api.github.com/repos/svsticky/fuzzily/comments{/number}","issue_comment_url":"https://api.github.com/repos/svsticky/fuzzily/issues/comments{/number}","contents_url":"https://api.github.com/repos/svsticky/fuzzily/contents/{+path}","compare_url":"https://api.github.com/repos/svsticky/fuzzily/compare/{base}...{head}","merges_url":"https://api.github.com/repos/svsticky/fuzzily/merges","archive_url":"https://api.github.com/repos/svsticky/fuzzily/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/svsticky/fuzzily/downloads","issues_url":"https://api.github.com/repos/svsticky/fuzzily/issues{/number}","pulls_url":"https://api.github.com/repos/svsticky/fuzzily/pulls{/number}","milestones_url":"https://api.github.com/repos/svsticky/fuzzily/milestones{/number}","notifications_url":"https://api.github.com/repos/svsticky/fuzzily/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/svsticky/fuzzily/labels{/name}","releases_url":"https://api.github.com/repos/svsticky/fuzzily/releases{/id}","deployments_url":"https://api.github.com/repos/svsticky/fuzzily/deployments","created_at":"2017-05-15T18:01:24Z","updated_at":"2017-08-03T18:37:48Z","pushed_at":"2017-06-16T06:55:09Z","git_url":"git://github.com/svsticky/fuzzily.git","ssh_url":"git@github.com:svsticky/fuzzily.git","clone_url":"https://github.com/svsticky/fuzzily.git","svn_url":"https://github.com/svsticky/fuzzily","homepage":"","size":134,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"mezis:master","ref":"master","sha":"e373a702fc976deaf1db1a8f9d354583365fbc03","user":{"login":"mezis","id":231698,"avatar_url":"https://avatars2.githubusercontent.com/u/231698?v=4","gravatar_id":"","url":"https://api.github.com/users/mezis","html_url":"https://github.com/mezis","followers_url":"https://api.github.com/users/mezis/followers","following_url":"https://api.github.com/users/mezis/following{/other_user}","gists_url":"https://api.github.com/users/mezis/gists{/gist_id}","starre[...]
- request:
    method: get
    uri: https://api.github.com/repositories/6383465/pulls?page=2&per_page=10&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
  [...]
[...]
