%h3.title #{current_organisation.name} stats

= render 'pull_requests/top', hottest: @hottest_pull_requests, fastest: @fastest_pull_requests, slowest: @slowest_pull_requests

.row
  .col-md-12
    .card
      .card-block
        %h5.card-title 
          Leaderboard
          %span.small (past 4 weeks)
        = gh_bar_chart [current_organisation, :metric, id:'contribution_per_contributor'], height: '100px'
      .card-footer.text-muted.small
        Let's hear it for these folks!

= render 'metrics/charts', organisation: current_organisation

