#help-scoring.modal.fade{ role: 'dialog', 'aria-labelledby': 'help-scoring-title', 'aria-hidden': true }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#help-scoring-title
          How scoring works
      .modal-body
        %p
          In a functional group of software engineers, we believe interactions
          foster good code and good spirits.
        %p
          Scoring works by awarding points to contributors for significant actions
          they perform on Github: issuing pull requests, commenting, and merging
          them.
        %p
          Of course, more points get awarded when someone performs an action that
          helps others: more points are awarded for commenting on someone else's
          pull requests, or taking the responsibility to merge it.
        %hr
        %p
          So... if you see your score lagging or dropping, it's time to code a bit
          less and go on the hunt for code that needs your feedback!

