.chord-graph {
  font-size:        small;
  max-width:        720px;
  margin:           auto;

  .chord {
    fill-opacity:   .5;
    transition:     opacity 150ms linear;
  }
  .chord--faded {
    opacity:        0.15;
  }
  circle {
    fill:           transparent;
  }
}
