.gh-footer {
  @extend .p-t-1;
  @extend .m-t-1;
  @extend .small;
  @extend .text-muted;

  border-top:         1px solid $brand-secondary;
  background-color:   white;
  > * {
    opacity:          0.5;
  }
}
