.graph--coloured-item {
  stroke-width:     1px;
  fill-opacity:     0.25;

  &:nth-child(1) {
    stroke:         $brand-primary;
    fill:           $brand-primary;
  }
  &:nth-child(2) {
    stroke:         $brand-secondary;
    fill:           $brand-secondary;
  }
}

.graph-bar {
  fill:       $brand-info;
}
.graph-label {
  text-anchor:        end;
  dominant-baseline:  central;
  fill:               $gray-dark;
  font-size:          small;
}
.graph-value {
  text-anchor:        end;
  dominant-baseline:  central;
  font-size:          small;
  fill:               white;
}
.graph-line {
  @extend .graph--coloured-item;
}
.graph-axis {
  font-size:          small;
  line, path {
    fill:             none;
    stroke:           $gray;
    stroke-width:     1px;
  }
  .tick:first-child {
    display:          none;
  }
  text {
    paint-order:      stroke;
    stroke:           white;
    stroke-width:     2px;
    fill:             $gray;
  }
}
.graph-series-label {
  text-anchor:        end;
}
.graph-point {
  fill:               transparent;
}



.chart-radar-series {
  path {
    @extend .graph--coloured-item;
  }
}
.chart-radar-axes {
  line {
    stroke:         $gray-light;
    stroke-width:   0.5px;
  }
  circle {
    stroke:         $gray-lighter;
    stroke-width:   0.5px;
    fill:           none;
  }
}
.chart-radar-dim-name {
  fill:               $gray;

  text-anchor:        middle;
  alignment-baseline: central;

  font-size:          x-small;
}

.chart-text-protected {
  text:first-child {
    stroke:           white;
    stroke-width:     2px;
  }
}
