.homepage-hero {
  @extend .p-t-2;
  @extend .p-x-2;
  background-color:   white;
  position:           relative;
  align-items:        stretch;
}
.homepage-hero-logo {
  max-height:       12rem;
}
.homepage-hero-tagline {
  @extend           .text-xs-center;
}
.homepage-hero-item {
  @extend .text-xs-center;
  @extend .m-y-1;
}
