.navbar--admin {
  padding: 0;
}

.navbar--heroes {
  border-bottom: 1px solid $brand-secondary;
  background-color: white;

  .navbar-logo img {
    position:       relative;
    height:         1.4rem;
    top:            0.2rem;
  }

  .nav-link {
    color:        $brand-secondary;

    &.disabled {
      color:      rgba($brand-secondary, 0.5);
    }
  }
}
