// cross component utilities

.title {
  @extend .m-t-2;
  @extend .m-b-1;
}

.list-inline {
  display: inline;
  li {
    display: inline-block;
  }
}

.list-inline--text {
  @extend .list-inline;
  li {
    &::after {
      content: ', ';
    }
    &:last-child::after {
      content: '.';
    }
    &:last-child::before {
      content: 'and ';
    }
    &:first-child::before {
      content: '';
    }
  }
}

.list-inline--semicolon {
  @extend .list-inline;
  li {
    &::after {
      content: '; ';
    }
    &:last-child::after {
      content: '';
    }
  }
}
.list-inline--caret {
  @extend .list-inline;
  li { 
    &::after {
      content: '› ';
      margin: 0 0.75rem;
    }
    &:last-child::after {
      content: '';
    }
  }
  .nav-link {
    display: inline-block;
  }
}

.list--no-bullets {
  ul, & {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}
