
$enable-rounded:        false;
$enable-gradients:      true;
$enable-transitions:    false;
$enable-flex:           true;

$headings-font-weight:  300;

$tooltip-arrow-color:   rgba(#373a3c, 0.9); // $gray-dark
$tooltip-bg:            rgba(#373a3c, 0.9);

