/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$enable-rounded:        false;
$enable-gradients:      true;
$enable-transitions:    false;
// $enable-flex:           true;

$headings-font-weight:  300;

@import "bootstrap";

// overrides

// no extra space at the bottom of cards
.card-block {
  > ul:last-child {
    @extend .m-b-0;
  }
}

// cross component utilities

.title {
  @extend .m-t-2;
  @extend .m-b-1;
}

.list-inline {
  display: inline;
  li {
    display: inline-block;
    &::after {
      content: ', ';
    }
    &:last-child::after {
      content: '.';
    }
    &:last-child::before {
      content: 'and ';
    }
    &:first-child::before {
      content: '';
    }
  }
}

// components

.avatar {
  display:        inline-block;
  width:          1rem;
  height:         1rem;
  vertical-align: text-bottom;
  margin-right:   .2rem;
}

.user-avatar,
.organisation-avatar {
  @extend .avatar;
}

.user-login {
  display: inline-block;
}

.pagination-bar > .pagination {
  @extend .btn-group;
  @extend .text-xs-center;
  @extend .m-t-0;
  @extend .m-b-0;
  > span {
    @extend .btn;
    @extend .btn-secondary;
  }
}


// collections

.users-grid {
  .user {
    @extend .m-b-1;
    text-align:   center;
  }
  .user-avatar {
    width:   5rem;
    height:  5rem;
  }
  .user-login,
  .user-name {
    display: block;
  }
}

.users-list {
  @extend .list-inline;

  .user {
    display: inline-block;
  }
  .user-name {
    display: inline-block;
    margin-left: .2rem;
  }
}

.pull-requests {
  .user {
    @extend .user--avatar-only;
    display: inline-block;
  }
  ul, & {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}

// component variants

.user--avatar-only {
  .user-login {
    display: none;
  }
  .user-name {
    display: none;
  }
}

.user--no-name {
  .user-name {
    display: none;
  }
}

.pull-request--no-time .pull-request-time {
  display: none;
}
.pull-request--no-comments .pull-request-comments {
  display: none;
}

.organisations-cards {
  .organisation {
    @extend .card;
    @extend .card-block;
    // @extend .text-xs-center;
  }

  .organisation--name {
    @extend .card-title;
    @extend .h3;
    display: block;
  }

  .organisation-avatar {
    width:  1.75rem;
    height: 1.75rem;
  }

  .organisation-toggles {
    // display: none;
    @extend .pull-xs-right;
  }

  .organisation--disabled {
    @extend .text-muted;
  }
}
