/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require nprogress
 *= require nprogress-bootstrap
 */


$enable-rounded:        false;
$enable-gradients:      true;
$enable-transitions:    false;
$enable-flex:           true;

$headings-font-weight:  300;

$tooltip-arrow-color:   rgba(#373a3c, 0.9); // $gray-dark
$tooltip-bg:            rgba(#373a3c, 0.9);


@import "bootstrap";
@import "octicons";

// overrides

// no extra space at the bottom of cards
.card-block {
  > ul:last-child {
    @extend .m-b-0;
  }
}

// card margin should be the same as the gutter size
.card {
  @extend .m-b-2;
}

// no margin atop dropdown menu, so it doesn't interfere with hovering
.dropdown-menu {
  margin-top: 0;
}

// nicer tooltips
.tooltip {
  font-size:        small;
  strong {
    color:          $brand-info;
  }
}

// cross component utilities

.title {
  @extend .m-t-2;
  @extend .m-b-1;
}

.list-inline {
  display: inline;
  li {
    display: inline-block;
    &::after {
      content: ', ';
    }
    &:last-child::after {
      content: '.';
    }
    &:last-child::before {
      content: 'and ';
    }
    &:first-child::before {
      content: '';
    }
  }
}

.list--no-bullets {
  ul, & {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}

// components

.avatar {
  display:        inline-block;
  width:          1rem;
  height:         1rem;
  vertical-align: text-bottom;
  margin-right:   .2rem;
}

.user-avatar,
.organisation-avatar {
  @extend .avatar;
}

.user-login {
  display: inline-block;
}

.pagination-bar > .pagination {
  @extend .btn-group;
  @extend .text-xs-center;
  @extend .m-t-0;
  @extend .m-b-0;
  > span {
    @extend .btn;
    @extend .btn-secondary;
  }
}

#flashes .alert {
  @extend .m-b-0;
}


// collections

.users-grid {
  .user {
    @extend .m-b-1;
    text-align:   center;
  }
  .user-avatar {
    width:   5rem;
    height:  5rem;
  }
  .user-login,
  .user-name {
    display: block;
  }
}

.users-list {
  @extend .list-inline;

  .user {
    display: inline-block;
  }
  .user-name {
    display: inline-block;
    margin-left: .2rem;
  }
}

.pull-requests {
  @extend .list--no-bullets;
  .user {
    @extend .user--avatar-only;
    display: inline-block;
  }
}

.comments {
  @extend .list--no-bullets;
  .user {
    @extend .user--avatar-only;
    display: inline-block;
  }
  .comment-author {
    display: none;
  }
}

// component variants

.user--avatar-only {
  .user-login {
    display: none;
  }
  .user-name {
    display: none;
  }
}

.user--no-name {
  .user-name {
    display: none;
  }
}

.pull-request--no-time .pull-request-time {
  display: none;
}
.pull-request--no-comments .pull-request-comments {
  display: none;
}
.pull-request--closed,
.pull-request--merged {
  a {
    color: $gray;
  }
}

.organisations-cards {
  .organisation {
    @extend .card;
    @extend .card-block;
    // @extend .text-xs-center;
  }

  .organisation--name {
    @extend .card-title;
    @extend .h3;
    display: block;
  }

  .organisation-avatar {
    width:  1.75rem;
    height: 1.75rem;
  }

  .organisation-toggles {
    // display: none;
    @extend .pull-xs-right;
  }

  .organisation--disabled {
    @extend .text-muted;
  }
}

.organisations--table {
  .organisation {
    @extend .row;
    @extend .m-b-1;
    display:  block;
  }
  .organisation-toggles {
    @extend .col-md-2;
    display: block;
  }
  .organisation--name {
    @extend .col-md-3;
    display: block;
  }
  .organisation--info {
    @extend .col-md-7;
    display: block;
  }
}

.navbar--admin {
  padding: 0;
}

.navbar--heroes {
  position:      relative; // so we can place the logo
  border-bottom: 1px solid $gray-dark;

  .navbar-logo {
    padding-right: 2.8rem;
    img {
      position:   absolute;
      height:     2.8rem;
      bottom:     0;
    }
  }
}

.homepage-hero {
  @extend .p-t-2;
  @extend .p-x-2;
  background-color:   $card-cap-bg;
  border:             1px solid $card-border-color;
  position:           relative;
  align-items:        stretch;
}
.homepage-hero-logo {
  @extend .p-b-1;
  @extend .text-xs-center;
  $offset:         $spacer + 1rem;
  position:       relative;
  top:            -$offset;
  margin-bottom:  -$offset;

  > img {
    @extend .p-x-2;
    width: 100%;
    max-width: 400px;
  }
}
.homepage-hero-content {
  @extend .m-b-2;
  @extend .text-xs-center;
  @extend .text-sm-left;
  @include media-breakpoint-up(md) {
    order: -1;
  }
}
.homepage-hero-item {
  @extend .text-xs-center;
  @extend .m-y-1;
}

.mega-octicon--block {
  @extend         .mega-octicon;
  display:        block;
}

// .icon-lead {
//   $indent: 1.5rem;
//   text-indent:    -$indent;
//   padding-left:   $indent;
//   .octicon {
//     font-size:    large;
//     padding-left: $indent;
//   }
// }

.graph-bar {
  fill:       $brand-info;
}
.graph-label {
  text-anchor:        end;
  dominant-baseline:  central;
  fill:               $gray-dark;
  font-size:          small;
}
.graph-value {
  text-anchor:        end;
  dominant-baseline:  central;
  font-size:          small;
  fill:               white;
}
.graph-line {
  fill:               none;
  stroke:             $brand-info;
  stroke-width:       2px;
}
.graph-axis {
  font-size:          small;
  line, path {
    fill:             none;
    stroke:           $gray;
    stroke-width:     1px;
  }
  .tick:first-child {
    display:          none;
  }
  text {
    paint-order:      stroke;
    stroke:           white;
    stroke-width:     2px;
    fill:             $gray;
  }
}
.graph-series-label {
  text-anchor:        end;
}
.graph-point {
  fill:               transparent;
  // stroke:             red;
  // stroke-width:       1px;
}
