.chord-graph {
  max-width: 720px;

  .chord {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
    transition: opacity 150ms linear;
  }
  .chord--faded {
    opacity: 0.15;
  }
  circle {
    fill: transparent;
  }
}
