- if acting_user
  .alert.alert-warning(role=alert)
    .container
      You are logged in as @#{acting_user.login} but acting as @#{current_user.login}.
      = link_to 'Stop acting', session_path, method: :patch, class: 'pull-xs-right'
