%footer.gh-footer
  .container
    %p
      The Git Heroes logo is derived from the Git Logo by
      = link_to 'Jason Long', 'http://twitter.com/jasonlong'
      and is licensed under the
      = succeed "." do
        = link_to 'http://creativecommons.org/licenses/by/3.0/' do
          Creative Commons Attribution 3.0 Unported License

