%nav.navbar.navbar-full.navbar-dark.bg-danger.navbar--admin
  .container
    %ul.nav.navbar-nav
      %li.nav-item= link_to 'Users', admin_users_path, class: 'nav-link'
      %li.nav-item= link_to 'Organisations', admin_organisations_path, class: 'nav-link'
      %li.nav-item= link_to 'Jobs', admin_jobs_path, class: 'nav-link', target: '_githeroes_jobs'
